prelim_workflow-prefetch/

~*

db/Sketched-db/

db/db.plant-entrez-ref.fasta.bz2

test/

snakemake-workflow/.snakemake/
snakemake-workflow/input/
**/gather_ext
snakemake-workflow/output/adolescent    
snakemake-workflow/output/adult-1   
snakemake-workflow/output/adult-2